.card-container.cta-card {
  width: 80%;
  margin: auto;
  border: 1px solid #cacaca;
  border-radius: 10px;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Center text horizontally */
  padding: 10px;
}

.card-container.cta-card h1 {
  margin: 0;
  font-size: 2rem; /* Adjust size as needed */
}

.card-container.cta-card p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1rem; /* Adjust size as needed */
  line-height: 1.5;
}

.cta-buttons {
  display: flex;
  justify-content: center; /* Align buttons horizontally */
  gap: 10px; /* Space between buttons */
}

.btn {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
}
